nav
  ul
    li: a(href="/home") ホーム
    li: a(href="/upload/masao") 正男アップロード
    li: a(href="/upload/resource") ファイルアップロード
    li
      h1 正男リスト
      ul
        li: a(href="/masaolist/latest") 最近投稿された正男
        li: a(href="/masaolist/rank/view") 閲覧数ランキング
