//- special/resource/chooseresourceから使用
section
  - if(typeof title!=="undefined" && title)
    h2= title
  .resourcesarea
  div
    fieldset.resourcesearchfield
      legend リソース検索
      p
        label
          | 用途:
          select(name="resourceusage")
            option(value="") （すべて）
            optgroup(label="画像")
              option(value="filename_pattern") パターン画像
              option(value="filename_title") タイトル画像
              option(value="filename_ending") エンディング画像
              option(value="filename_gameover") ゲームオーバー画像
            optgroup(label="テキスト")
              option(value="script") スクリプトファイル
        label
          input(type="checkbox",name="resourceusageeq",checked)
          | 用途が一致するもののみ検索
      p
        label
          | ユーザーID:
          input(name="resourceuserid",type="text",size="20")
      p: input(name="resourcefindbutton",type="button",value="検索")
    .selectarea
